<DOCTYPE! html></DOCTYPE>

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="description" content="Site da InJunior, Adoção de lobos">
    <meta name="keywords" content="Adote, sites, Lobinho, InJunior, adotar lobinho">
    <meta name="author" content="João, Pedro e João Pedro">
    <meta name="copyright" content="InJunior">
    <Meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adote um Lobinho!</title>
</head>
<body>
    <main>
        <section class="secao1">
            <menu class="menu">
            Nossos Lobinhos
            <img src="Logo.svg" alt="logo">
            Quem Somos
            </menu>
            <h1 class="titulo">Adote um Lobinho</h1>
            <h2 id="firstText">É claro que o consenso sobre a necessidade de qualificação apresenta tendências no sentido de aprovar a manutenção das regras de conduta normativas.</h2>
            </figure>
            <div class="secao11">
                <p id="sobre">Sobre</p>
                <p class="texto" >Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas. Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.</p>
            </div>
        </section>
        <section class="secao2">
            <h1 id="valores">Valores</h1>
            <div class = "item2">
                <div class = "item22">
                    <div class = "img2">
                        <img src="life-insurance.svg" alt="lifeInsurance">
                    </div>
                    <h3 class = "texto1">Proteção</h3>
                    <p class = "texto">Assim mesmo, o desenvolvimento contínuo de distintas formas de atuação facilita a criação do sistema de participação geral.</p>
                </div>
                <div class = "item22">
                    <div class = "img2">
                        <img src="Group.svg"    alt="lifeInsurance">
                    </div>
                    <h3 class = "texto1">Carinho</h3>
                    <p class = "texto">Assim mesmo, o desenvolvimento contínuo de distintas formas de atuação facilita a criação do sistema de participação geral.</p>        
                </div>
                <div class = "item22">
                    <div class = "img2">
                        <img src="care.svg"    alt="lifeInsurance">
                    </div>
                    <h3 class = "texto1">Companheirismo</h3>
                    <p class = "texto">Assim mesmo, o desenvolvimento contínuo de distintas formas de atuação facilita a criação do sistema de participação geral.</p>
                </div>
                <div class = "item22">
                    <div class = "img2">
                        <img src="RescueDog.svg"    alt="lifeInsurance">
                    </div>
                    <h3 class = "texto1">Resgates</h3>
                    <p class = "texto">Assim mesmo, o desenvolvimento contínuo de distintas formas de atuação facilita a criação do sistema de participação geral.</p>
                </div>
            </div>
        </section>
        <section class="secao3">
            <h1 class="subtitulo">Lobos Exemplo</h1>
            <div class="linha">                    
                    <img class = "img31" src="image(1)cortada.png" alt="lobo_marron">
                <div class = "card1">
                    <h2>Nome do lobo </h2>
                    <h3>Idade: XX anos</h3>
                    <p>Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte . Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte</p>
                </div>    
            </div>
            <div class="linha">
                <div class="card2">
                    <h2>Nome do lobo </h2>
                    <h3>Idade: XX anos</h3>
                    <p>Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas. Não obstante, o surgimento do comércio virtual faz. Não obstante, o surgimento do comércio virtual faz parte de um processo de gerenciamento do levantamento das variáveis envolvidas.Não obstante, o surgimento do comércio virtual faz parte</p>           
                </div>                    

                    <img class ="img32"src="image(2)cortada.png" alt="lobo_branco">

            </div>
        </section>
    </main>
</body>
<footer class="rodape">
    <div class="juntar">
        <div id="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3675.1968390018756!2d-43.13644248503438!3d-22.906109485012156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99817ee1756031%3A0xd1dcbde0df6f873c!2sAv.%20Milton%20Tavares%20de%20Souza%2C%20Niter%C3%B3i%20-%20RJ%2C%2024210-346!5e0!3m2!1spt-BR!2sbr!4v1632958642432!5m2!1spt-BR!2sbr" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
        <div id="endereco">
            <div class="ladoDoMapa"><img src="imagensRodapeLocalizaMelhorPronto.png" alt="localiza" width="20" height="20">Av. Milton Tavares de Souza, s/n - Sala 115 B - Boa Viagem, Niterói - RJ, 24210-315</div>
            <div class="ladoDoMapa"><img src="imagensRodapeTelefone.png" alt="telefone" width="20" height="20">(99)99999-9999</div>
            <div class="ladoDoMapa"><img src="imagensRodapeMail.png" alt="mail" width="20" height="20">salve-lobos@lobINhos.com</div>
            <br>
        <button class="quemSomos">Quem Somos</button>
        </div>
    </div>
    
    <!-- Isso aqui em cima é um botão! -->
    <p class="patinha"> Desenvolvido com 
        <img src="paws.svg" alt="pataDeLobo">
    </p> 
</footer>