@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@700&display=swap');
*{
    font-family: "Darker Grotesque", "sans serif";
    margin: 0;
}

.secao1{
    margin: 0 auto;
    background-image: url("image(3).png");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    max-width: 100%;
    height: 919px;
}

.secao2{
    background-color: rgb(51, 51, 51);
    height: 600px;
    line-height:0.75;
}

.secao3{
    margin: 50px 150px;
}

.secao11{
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    flex-flow: column wrap;
    bottom:inherit;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: rgb(44, 86, 127);
}

.menu{
    top:0;
    display: flex;
    align-items: center;
    flex-direction:inherit;
    font-size: 28px;
    font-weight: bold;
    align-content:space-between;
    background: rgb(133, 205, 245);
    padding: 15px;
    height:6rem;
    justify-content:space-around;
    float: center;
    position: -webkit-sticky;
    position: sticky;
}



.item2{
    display: flex;
    justify-content: center;
    margin: 0px 10%;
    padding: 0%;
    width: auto;
    text-align: center;
}

.item22{
    display: flex;
    align-items: center;
    flex-flow: column;
    
}

.linha{
    display: flex;
    margin:30px;
}

.card1{
    padding: 10px 300px 10px 40px;
}

.card2{
    display : flex;
    flex-direction: column;
    text-align: right;
    padding: 10px 40px 10px 300px;

}

.img2>img{
    width:115px;
    height:115px;
    
}

.img2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 100%;  
    background-color: #fafafa;
}

.img31{
    margin: 20px 40px 50px 350px;
    box-shadow: #2C5680 -2em -2em;    
}

.img32{
    margin: 10px 350px 10px 40px;
    box-shadow: #2C5680 2em -2em;
}


.titulo{
    padding-top: 120px;
    padding-bottom: 0.3em;
    text-align: center;
    z-index: 10;
    font-size: 108px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
#firstText {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 150px;
    font-size: 24px;
    font-weight: 300;
    color:rgb(255, 255, 255);
}


h1{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 42px;
    color:rgb(222, 185, 23);
}

h3{
    font-size: 24px;
}
.texto1{
    font-weight: 700;
    font-size: 32px ;
    color: #fafafa;
    padding-bottom: 30px;
}


.secao1 .texto{
    font-weight: 300;
    font-size: 24px;
    color:rgb(255, 255, 255);
    max-width: 70%;
}

.secao2 .texto{
    font-weight: 300;
    font-size: 24px;
    color:rgb(255, 255, 255);
    max-width: 50%;
}

.secao3 h2{
    font-size: 36px;
}

.card1 h3{
    font-weight: 300;
    font-size: 18px;
    color:rgb(0, 0, 0);
    max-width: 70%;
    padding: 0 0 20px;
}

.card2 h3{
    align-content: flex-end;
    font-weight: 300;
    font-size: 18px;
    color:rgb(0, 0, 0);
    max-width: 100%;
    padding: 0 0 20px;
}

.secao3 .card1 p{
    font-weight: 300;
    font-size: 20px;
    color:rgb(0, 0, 0);
    max-width: 70%;
    line-height: 1;
    
}

.secao3 .card2 p{
    font-weight: 300;
    font-size: 20px;
    color:rgb(0, 0, 0);
    max-width: 350px;
    line-height: 1;
}


.rodape{
    display:flex;
    vertical-align: baseline;
    background:rgb(51,51,51);
    color:aliceblue;
    border-top-style: solid;
    border-image: linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128)) 1;/*linear-gradient(88deg,#1100ff -38.42%,#ff0000 150.39%) 1;   linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128)) 1*/
    border-top-width: 0.5rem;
    padding:20px;
    align-items:center;
    justify-content: space-evenly;
    height:300;
    font-size: 20px;
}
.juntar{
    display:flex;
    justify-content: flex-end;
}

#endereco{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
#mapa{
    width:340px;
}
.ladoDoMapa{
    width:400px;
}
.quemSomos{
    width:125px;
    height:30px;
    background: rgb(222, 185, 89);
    border:0;
    color: rgb(51,51,51);
    font-size: 22.5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.patinha{
    display:flex;
    flex-direction:column;
}
#sobre{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 42px;
    color:rgb(222, 185, 23);
    font-family: "Darker Grotesque", "sans serif";
    font-weight: 600;
}
.secao11 .texto{
    width:58%;
}
#valores{
    padding: 39px;
}